# General
.DS_Store
*.log
logs
yarn-error.log*


# Backend (Rust)
target/
*.env

# Frontend (Node)
node_modules/
dist/
dist-ssr/
*.local
.vite/
npm-debug.log*

yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
